.temparc0{background-position:-0px top;}
.temparc1{background-position:-88px top;}
.temparc2{background-position:-176px top;}
.temparc3{background-position:-264px top;}
.temparc4{background-position:-352px top;}
.temparc5{background-position:-440px top;}
.temparc6{background-position:-528px top;}
.temparc7{background-position:-616px top;}
.temparc8{background-position:-704px top;}
.temparc9{background-position:-792px top;}
.temparc10{background-position:-880px top;}
.temparc11{background-position:-968px top;}
.temparc12{background-position:-1056px top;}
.temparc13{background-position:-1144px top;}
.temparc14{background-position:-1232px top;}
.temparc15{background-position:-1320px top;}
.temparc16{background-position:-1408px top;}
.temparc17{background-position:-1496px top;}
.temparc18{background-position:-1584px top;}
.temparc19{background-position:-1672px top;}
.temparc20{background-position:-1760px top;}
.temparc21{background-position:-1848px top;}
.temparc22{background-position:-1936px top;}
.temparc23{background-position:-2024px top;}
.temparc24{background-position:-2112px top;}
.temparc25{background-position:-2200px top;}
.temparc26{background-position:-2288px top;}
.temparc27{background-position:-2376px top;}
.temparc28{background-position:-2464px top;}
.temparc29{background-position:-2552px top;}
.temparc30{background-position:-2640px top;}
.temparc31{background-position:-2728px top;}
.temparc32{background-position:-2816px top;}
.temparc33{background-position:-2904px top;}
.temparc34{background-position:-2992px top;}
.temparc35{background-position:-3080px top;}
.temparc36{background-position:-3168px top;}
.temparc37{background-position:-3256px top;}
.temparc38{background-position:-3344px top;}
.temparc39{background-position:-3432px top;}
.temparc40{background-position:-3520px top;}
.temparc41{background-position:-3608px top;}
.temparc42{background-position:-3696px top;}
.temparc43{background-position:-3784px top;}
.temparc44{background-position:-3872px top;}
.temparc45{background-position:-3960px top;}
.temparc46{background-position:-4048px top;}
.temparc47{background-position:-4136px top;}
.temparc48{background-position:-4224px top;}
.temparc49{background-position:-4312px top;}
.temparc50{background-position:-4400px top;}
.temparc51{background-position:-4488px top;}
.temparc52{background-position:-4576px top;}
.temparc53{background-position:-4664px top;}
.temparc54{background-position:-4752px top;}
.temparc55{background-position:-4840px top;}
.temparc56{background-position:-4928px top;}
.temparc57{background-position:-5016px top;}
.temparc58{background-position:-5104px top;}
.temparc59{background-position:-5192px top;}
.temparc60{background-position:-5280px top;}
.temparc61{background-position:-5368px top;}
.temparc62{background-position:-5456px top;}
.temparc63{background-position:-5544px top;}
.temparc64{background-position:-5632px top;}
.temparc65{background-position:-5720px top;}
.temparc66{background-position:-5808px top;}
.temparc67{background-position:-5896px top;}
.temparc68{background-position:-5984px top;}
.temparc69{background-position:-6072px top;}
.temparc70{background-position:-6160px top;}
.temparc71{background-position:-6248px top;}
.temparc72{background-position:-6336px top;}
.temparc73{background-position:-6424px top;}
.temparc74{background-position:-6512px top;}
.temparc75{background-position:-6600px top;}
.temparc76{background-position:-6688px top;}
.temparc77{background-position:-6776px top;}
.temparc78{background-position:-6864px top;}
.temparc79{background-position:-6952px top;}
.temparc80{background-position:-7040px top;}
.temparc81{background-position:-7128px top;}
.temparc82{background-position:-7216px top;}
.temparc83{background-position:-7304px top;}
.temparc84{background-position:-7392px top;}
.temparc85{background-position:-7480px top;}
.temparc86{background-position:-7568px top;}
.temparc87{background-position:-7656px top;}
.temparc88{background-position:-7744px top;}
.temparc89{background-position:-7832px top;}
.temparc90{background-position:-7920px top;}
.temparc91{background-position:-8008px top;}
.temparc92{background-position:-8096px top;}
.temparc93{background-position:-8184px top;}
.temparc94{background-position:-8272px top;}
.temparc95{background-position:-8360px top;}
.temparc96{background-position:-8448px top;}
.temparc97{background-position:-8536px top;}
.temparc98{background-position:-8624px top;}
.temparc99{background-position:-8712px top;}
.temparc100{background-position:-8800px top;}
.temparc{
	background-image: url(../images/canvas.png);
	background-repeat:no-repeat;
	width:80px;
	height: 80px;
	margin: 0 auto;
	line-height: 78px;
	color: #0074C5;
}
