/*reset.css*/
html, body{width:100%; height:100%;}
body{font-size:12px; height:auto;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
.align{
	text-align:center;
}
.phonemsgn input,.BlueButton input,.orangeButton input,.GrayButton input{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
a{text-decoration:none; text-decoration: none; color: #434343;}
a:hover{color: #0074C5;}
em{ font-style:normal;}
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0;}
ol, ul,li { list-style: none; }
.clearfix{*zoom:1;}
.clearfix:after{display:table; content:''; clear:both;}
.left{
	float: left;
	display: inline;
}
.right{
	float: right;
	display: inline;
}
.blue{
	color: #0074C5;
}
.none{
	display: none;
}
body{
	font-size: 14px;
	background: #fafafa;
	font-family: "Microsoft Yahei","寰蒋闆呴粦",Tahoma,Arial,Helvetica,STHeiti;
	color: #434343;
	line-height: 28px;
}
h3{
	font-weight: normal;
}
.width1000{
	width: 1000px;
	margin: 0 auto;
}
.font16{
	font-size: 16px;
}
.font18{
	font-size:18px;
}
.font24{
	font-size: 24px;
}
.font30{
	font-size: 30px;
}
.font12{
	font-size: 12px;
}
.mrn{
	margin-right:none;
}
.orange{
	color: #FF7800;
}
.gray{
	color:#ababab;
}
.bggray{
	background-color:#ababab;
}
.red{
	color:#f00;
}
.yellow{
	color: #dab541;
}
.orangeButton a{
	cursor:pointer;
	display: block;
	border-radius: 5px;
	background: #ff7800;
	color: #FFFFFF;
	text-align: center;
}
.orangeButton input{
	display: block;
	border-radius: 5px;
	background: #ff7800;
	color: #FFFFFF;
	text-align: center;
	cursor:pointer;
}
.orangeButton a:hover{
	background: #ff5a00;
}
.BlueButton a{
	cursor:pointer;
	display: block;
	border-radius: 5px;
	background: #0074c5;
	color: #FFFFFF;
	text-align: center;
}
.BlueButton input{
	display: block;
	border-radius: 5px;
	background: #0074c5;
	color: #FFFFFF;
	text-align: center;
	cursor:pointer;
}
.BlueButton a:hover{
	background: #0088e7;
}
.GrayButton a{
	cursor:pointer;
	display: block;
	border-radius: 5px;
	background: #cdcdcd;
	color: #FFFFFF;
	text-align: center;
}
.GrayButton input{
	display: block;
	border-radius: 5px;
	background: #cdcdcd;
	color: #FFFFFF;
	text-align: center;
	cursor:pointer;
}
.investButton {
	width: 140px;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	text-align:center;
}
.tableButton {
	width: 70px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	text-align:center;
}
.inputButton {
	width: 250px;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	text-align:center;
}
.popButton {
	width: 172px;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	text-align:center;
}
.popButton2 {
	width: 142px;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	text-align:center;
}
.underLine a{
	text-decoration: underline;
}
.porel{
	position: relative;
}
.mt100{
	margin-top: 100px;
}
.ml100{
	margin-left: 100px;
}
.ml200{
	margin-left: 200px;
}
.ml250{
	margin-left: 250px;
}
.ml120{
	margin-left: 120px;
}
.ml150{
	margin-left: 150px;
}
.ml60{
	margin-left: 60px;
}
.mt20{
	margin-top: 20px;
}
.mt5{
	margin-top:5px;
}
.mt10{
	margin-top:10px;
}
.ml20{
	margin-left: 20px;
}
.ml40{
	margin-left: 40px;
}
.ml30{
	margin-left: 30px;
}
.ml45{
	margin-left: 45px;
}
.ml10{
	margin-left: 10px;
}
.mr10{
	margin-right: 10px;
}
.mr20{
	margin-right: 20px;
}
.mb20{
	margin-bottom: 20px;
}
.mtf10{
	margin-top:-10px;
}
.mt50{
	margin-top: 50px;
}
.ml80{
	margin-left: 80px;
}
.mt60{
	margin-top: 60px;
}
.mt150{
	margin-top:150px;
}
.auto{
	margin: 0 auto;
}
.bold{
	font-weight: bold;
}
.mlr10{
	margin: 0 10px;
}
.textindent{
	text-indent: 2em;
}
/*top*/
.top{
	background: #f0f0f0;
	height: 36px;
	border-bottom: 1px solid #e6e6e6;
	width: 100%;
}
.top ul li{
	float: left;
	display: inline;
	margin-right: 15px;
}
.top .topLine{
	border-left: 1px solid #d2d2d2;
	width: 1px;
	height: 14px;
	margin-top: 10px;
}
.top a:hover{
	color: #0074c5;
}
.topIcon1,.topIcon2,.topIcon3,.topIcon4,.topIcon5,.topIcon6,.topIcon7,.topIcon8{
	background: url(../images/icon1.png) no-repeat;
  padding-left: 22px;
  height: 23px;
  line-height: 23px;
  margin-top:7px;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
}
.topIcon1{
	background-position: 0px 4px;
}
.topIcon2{
	background-position: 0px -17px;
}
.topIcon2:hover{
	background-position: 0px -38px;
}
.topIcon3{
	background-position: 0px -60px;
}
.topIcon3:hover{
	background-position: 0px -81px;
}
.topIcon4{
	background-position: 0px -102px;
	cursor: pointer;
}
.topIcon4:hover{
	background-position: 0px -124px;
}
.topIcon5{
	background-position: 0px -149px;
	cursor: pointer;
}
.topIcon5:hover{
	background-position: 0px -173px;
}
.topIcon6{
	background-position: 0px -199px;
}
.topIcon6:hover{
	background-position: 0px -219px;
}
.topIcon7{
	background-position: 0px -242px;
}
.topIcon8{
	background-position: 0px -266px;
}
.topLogin{
	height: 23px;
	line-height: 23px;
	margin-top:7px;
	margin-left:20px;
}
.topLogin a{
	color: #0074c5;
}
.topIcon8 a{
	color: #ff7800;
}

/*menu*/
.menu{
	background: #ffffff;
	height: 85px;
	width: 100%;
}
.menuUl ul{
	 margin-left: 115px;
	 font-size: 18px;
	 line-height: 40px;
	 margin-top:20px;
}
.logo{
	height: 85px;
}
.menuUl ul li{
	float: left;
	display: inline;
	margin-left:30px;
	position: relative;
}
.menuUl ul li a{
	display: block;
}
.menuUl ul li a.current,.menuUl ul li:hover a{
	color: #FF7800;
	border-bottom: 2px solid #FF7800;

}
.menuUl ul li:hover .menuUlhover a{
	border:none;
}
.menuUlhover{
	position: absolute;
	background: #f0f0f0;
	border: 1px solid #d8d8d8;
	z-index: 999;
	font-size: 12px;
	text-align: center;
	width: 70px;
	display:none;
}
.menuUl .menuUlhover a{
	display: block;
	height: 30px;
	line-height: 30px;
}
.menuUl .menuUlhover a:hover{
	color: #FF7800;
	text-decoration: underline;
	border: none;
}
/*footer*/
.footer{
	background: #f0f0f0;
}
.footerLeft,.footerRight{
	margin-top:10px;
}
.footerLeft ul li{
	float: left;
	display: inline;
	margin-right: 20px;
}
.footerLeft .topLine{
	border-left: 1px solid #d2d2d2;
  width: 1px;
  height: 16px;
  margin-top:5px;
}
.footerMain p{
	background: #d8d8d8;
	padding:0px 10px;
	border-radius: 10px;
	margin-right: 15px;
}
.footerweixin a,.footerapple a,.footerandroid a,.footeremail a,.footerqq a{
	transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
}
.footerweixin a{
	background: url(../images/icon1.png) no-repeat 0px -287px;
	display: block;
	width:40px;
	height: 30px;
}
.footerweixin a:hover{
	background: url(../images/icon1.png) no-repeat 0px -316px;
}
.footerapple a{
	background: url(../images/icon1.png) no-repeat 0px -348px;
	display: block;
	width:40px;
	height: 33px;
}
.footerapple a:hover{
	background: url(../images/icon1.png) no-repeat 0px -385px;
}
.footerandroid a{
	background: url(../images/icon1.png) no-repeat 0px -422px;
	display: block;
	width:40px;
	height: 33px;
	margin-left:10px;
}
.footerandroid a:hover{
	background: url(../images/icon1.png) no-repeat 0px -462px;
}
.footeremail a{
	background: url(../images/icon1.png) no-repeat 0px -498px;
	display: block;
	width:40px;
	height: 28px;
	margin-right: 10px;
}
.footeremail a:hover{
	background: url(../images/icon1.png) no-repeat 0px -522px;
}
.footerqq a{
	background: url(../images/icon1.png) no-repeat 0px -548px;
	display: block;
	width:40px;
	height: 30px;
}
.footerqq a:hover{
	background: url(../images/icon1.png) no-repeat 1px -576px;
	
}
.footerTop {
	padding-bottom: 10px;
	border-bottom: 1px solid #E6E6E6;
	margin-bottom: 10px;
}
.footerList p span{
	margin-right: 20px;
}
.footerapprove{
	width: 670px;
	margin: 10px auto;
}
.footerapprove ul li{
	float: left;
	display: inline;
	margin-right: 15px;
}
.approve a{
	background-image: url(../images/icon6.jpg);
  background-repeat: no-repeat;
  display: block;
}
.approve01 a{
	background-position: 0px 0px;
	width: 90px;
  height: 36px;
}
.approve01 a:hover{
	background-position: -90px 0px;
}
.approve02 a{
	background-position: -180px 0px;
	width: 99px;
  height: 36px;
}
.approve02 a:hover{
	background-position: -279px 0px;
}
.approve03 a{
	background-position: -378px 0px;
	width: 135px;
  height: 36px;
}
.approve03 a:hover{
	background-position: -513px 0px;
}
.approve04 a{
	background-position: -648px 0px;
	width: 57px;
  height: 36px;
}
.approve04 a:hover{
	background-position: -705px 0px;
}
.approve05 a{
	background-position: -762px 0px;
	width: 100px;
  height: 36px;
}
.approve05 a:hover{
	background-position: -862px 0px;
}
.approve06 a{
	background-position: -962px 0px;
	width: 90px;
  height: 36px;
}
.approve06 a:hover{
	background-position: -1052px 0px;
}
.footerbottom{
	text-align: center;
}
.footerbottom span{
	margin: 0px 20px;
}
/*閿熸彮鎲嬫嫹閿熸枻鎷烽敓鏂ゆ嫹閿熸枻鎷*/
.rightBox{
	width:35px;
	position: fixed;
	top:440px;
	left: 50%;
	margin-left:520px;
}
.rightBox ul li{
	background: #d6d6d6;
	width:35px;
	height: 35px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.rightBox a{
	transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
}
.rightqq a{
	display: block;
	background: url(../images/icon1.png) no-repeat 5px -600px;
	width:35px;
	height:35px;
}
.rightqq a:hover{
	background: url(../images/icon1.png) no-repeat 5px -627px;
}
.rightweixin a{
	display: block;
	background: url(../images/icon1.png) no-repeat 3px -655px;
	width:35px;
	height:25px;
}
.rightweixin a:hover{
	background: url(../images/icon1.png) no-repeat 3px -680px;
}
.rightTop a{
	display: block;
	background: url(../images/icon1.png) no-repeat 3px -705px;
	width:35px;
	height: 30px;
}
.rightTop a:hover{
	background: url(../images/icon1.png) no-repeat 3px -730px;
}
.footerMain{
	position: relative;
}
.indexhover{
	background: url(../images/indexhoverbg.png) no-repeat;
	width: 127px;
	height: 137px;
	text-align: center;
	z-index: 10;
}
.indexhover img{
	width: 115px;
	height: 115px;
	margin-top:18px;
}
.footerweixinh{
	position: absolute;
	top:30px;
	left:50px;
	display: none;
}
.footerappleh{
	position: absolute;
	top:30px;
	left:250px;
	display: none;
}
.footerandroidh{
	position: absolute;
	top:30px;
	left:300px;	
	display: none;
}
.topListOne,.topListTwo,.rightBox ul{
	position: relative;
}
.topweixinh{
	position: absolute;
	top:30px;
	left:205px;
	display: none;
}
.topappleh{
	position: absolute;
	top:30px;
	left:-55px;
	display: none;
}
.topandroidh{
	position: absolute;
	top:30px;
	left:-15px;
	display: none;
}
.rightweixinh{
	background: url(../images/indexhoverbg1.png) no-repeat;
	width: 137px;
	height: 127px;
	z-index: 10;
	position: absolute;
	top:0px;
	left: -140px;
	display: none;
}
.rightweixinh img{
	width: 115px;
	height: 115px;
	margin:5px 0px 0px 5px;
}
.rightqqh{
	background: url(../images/indexhoverbg1.png) no-repeat;
	width: 137px;
	height: 127px;
	z-index: 10;
	position: absolute;
	top:-45px;
	left: -140px;
	display: none;
}
.footerqqh{
	background: url(../images/indexhoverbg.png) no-repeat;
	width: 137px;
	height: 127px;
	z-index: 10;
	position: absolute;
	top:30px;
	left:200px;
	padding:15px 0px 0px 5px;
	display: none;
}
.rightqqh p, .footerqqh p{
	font-size: 14px;
	margin:10px 0px 0px 5px;
	background: url(../images/rightqqBg.png) left center no-repeat;
	padding-left: 24px;
}
/*input閿熸枻鎷  */
.inputtext{
	width: 240px;
	height: 35px;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	outline: none;
	padding-left: 10px;
	line-height: 35px;
}
.selecttext{
	width: 250px;
	height: 35px;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	outline: none;
	line-height: 35px;
	padding-left:10px;
}
.inputtext:focus{
	border: 1px solid #ff7800;
}
.width130{
	width: 130px;
}
.checkbox{
	width:14px;
	height: 14px;
}
.error{
	background: #eef6ff;
	border: 1px solid #d2e0f1;
	padding: 0 10px;
	border-radius: 5px;
	display:none;
}
.error_txt{
	/*background: url(../images/error_03.png) no-repeat 0px center;*/
	padding-left: 20px;
}
.success_txt,.remind_txt{
	display:none;
}
.success_txt{
	background: url(../images/error_02.png) no-repeat 0px center;
	padding-left: 20px;
}
.remind_txt{
	background: url(../images/error_01.png) no-repeat 0px center;
	padding-left: 20px;
}
.phonemsgn a{
	height: 35px;
	line-height: 35px;
	width:95px;
	background: #cdcdcd;
	/*background: #0074c5;*/
	border: 1px solid #cdcdcd;
	color: #FFFFFF;
	text-align: center;
	display: block;
	border-radius: 5px;
	margin-left: 10px;
	float: left;
	display: inline;
}
.phonemsg a{
	height: 35px;
	line-height: 35px;
	width:95px;
	/*background: #cdcdcd;*/
	background:#FF7800;
	border: 1px solid #FF7800;
	color: #FFFFFF;
	text-align: center;
	display: block;
	border-radius: 5px;
	margin-left: 10px;
	float: left;
	display: inline;
}
/*闈㈠寘灞  */
.road ul li{
	float: left;
	display: inline;
	margin-right: 10px;
	height: 40px;
	line-height: 40px;
}
.road ul li a.current{
	color: #FF7800;
}

/*閿熸枻鎷烽〉*/

.fanye{
    text-align:center;
    margin:15px 0px;
 }
.fanye a{
	display: inline-block;
	padding: 0px 10px;
	border: 1px solid #b7b7b7;
	border-radius: 5px;
	text-align: center;
}
.fanye a.current,.fanye a:hover{
	background: #0074c5;
	border:1px solid #00548f;
	color: #FFFFFF;
}

/*table*/
.table{
	line-height: 36px;
	text-align: center;
	vertical-align: middle;
	width:100%;
}
.table tr{
	height: 36px;
	line-height: 36px;
}
.tablehover tr:hover{
	background:#c0c0c0;
}
.table th{
	background: #eeeeee;
}
.table td{
	vertical-align: middle;
	border-bottom: 1px dashed #E6E6E6;
}
.table td.fat{
	border-bottom: 1px dashed #E6E6E6;
	width:30%
}
.table div{
	display: inline;
}

/*閿熸枻鎷烽敓鏂ゆ嫹*/
.alertBg{
	background: #000000;
	opacity: 0.5;
	filter:alpha(opacity=50);
	-moz-opacity:0.5; 
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 998;
	top:0;
	left: 0;
}
.alertBox{
	position: absolute;
	width:480px;
	top:30%;
	left:50%;
	margin-left:-225px;
	z-index: 999;
	background: #FFFFFF;
}
.alertBox_ex{
	position: absolute;
	width:480px;
	top:10%;
	left:50%;
	margin-left:-225px;
	z-index: 999;
	background: #FFFFFF;
}
.alertBox_shoukuan{
	position: absolute;
	width:900px;
	top:20%;
	left:33%;
	margin-left:-225px;
	z-index: 999;
	background: #FFFFFF;
}
.alertTop{
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #f3f3f3;
	font-size: 16px;
	font-weight: bold;
	position: relative;
}
.alertClose{
	background: url(../images/close.png) no-repeat;
	height: 16px;
	width: 16px;
	display: block;
	position: absolute;
	top:10px;
	right:10px;
}
.alertMain{
	padding: 20px 50px;
}
/*成功失败页面*/
.successBox,.failBox{
	font-size: 36px;
	line-height: 60px;
  display: inline-block;
  margin:60px 20px auto;

}
.successBox{
	background: url(../images/success.png) no-repeat left center;
	padding-left: 160px;
}
.failBox{
	background: url(../images/fail.png) no-repeat left center;
	padding-left: 160px;
}
.errorBox{
	width:325px;
	margin: 60px auto;
	text-align: center;
	
}
.lineheight32{
	line-height: 33px;
}
.baoa{
	/*cursor:default;*/
	cursor:default;
}

/* 右边悬浮框css样式*/
.main-im{
	position:fixed;right:10px;top:200px;z-index:100;width:110px;height:272px;
}
.main-im .qq-a{
	display:block;width:106px;height:116px;font-size:14px;color:#0484cd;text-align:center;position:relative;
}
.main-im .qq-a span{
	bottom:5px;position:absolute;width:90px;left:10px;
}
.main-im .qq-hover-c{
	width:70px;height:70px;border-radius:35px;position:absolute;left:18px;top:10px;overflow:hidden;z-index:9;
}
.main-im .qq-container{
	z-index:99;position:absolute;width:109px;height:118px;border-top-left-radius:10px;border-top-right-radius:10px;
	border-bottom:1px solid #dddddd;background:url(../images/qq-icon-bg.png) no-repeat center 8px;
}
.main-im .img-qq{
	max-width:60px;display:block;position:absolute;left:6px;top:3px;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;
	-o-transition:all 0.5s;transition:all 0.5s;
}
.main-im .im-qq:hover .img-qq{
	max-width:70px;left:1px;top:8px;position:absolute;
}
.main-im .im_main{
	background:#F9FAFB;border:1px solid #dddddd;border-radius:10px;background:#F9FAFB;display:none;
}
.main-im .im_main .im-tel{
	color:#000000;text-align:center;width:109px;height:70px;border-bottom:1px solid #dddddd;
}
.main-im .im_main .im-tel div{
	font-weight:bold;font-size:12px;margin-top:6px;
}
.main-im .im_main .im-tel .tel-num{
	font-family:Arial;font-weight:bold;color:#e66d15;
}
.main-im .im_main .im-tel:hover{
	background:#fafafa;
}
.main-im .im_main .weixing-container{
	width:55px;height:47px;border-right:1px solid #dddddd;background:#f5f5f5;border-bottom-left-radius:10px;
	background:url(../images/weixing-icon.png) no-repeat center center;float:left;
}
.main-im .im_main .weixing-show{
	width:112px;height:172px;background:#ffffff;border-radius:10px;border:1px solid #dddddd;position:absolute;
	left:-125px;top:-126px;
}
.main-im .im_main .weixing-show .weixing-sanjiao{
	width:0;height:0;border-style:solid;border-color:transparent transparent transparent #ffffff;border-width:6px;
	left:112px;top:134px;position:absolute;z-index:2;
}
.main-im .im_main .weixing-show .weixing-sanjiao-big{
	width:0;height:0;border-style:solid;border-color:transparent transparent transparent #dddddd;border-width:8px;
	left:112px;top:132px;position:absolute;
}
.main-im .im_main .weixing-show .weixing-ma{
	width:104px;height:103px;padding-left:5px;padding-top:5px;
}
.main-im .im_main .weixing-show .weixing-txt{
	position:absolute;top:110px;left:7px;width:100px;margin:0 auto;text-align:center;
}
.main-im .im_main .go-top{
	width:50px;height:47px;background:#f5f5f5;border-bottom-right-radius:10px;
	background:url(../images/totop-icon.png) no-repeat center center;float:right;
}
.main-im .im_main .go-top a{
	display:block;width:52px;height:47px;
}
.main-im .close-im{
	position:absolute;right:10px;top:-12px;z-index:100;width:24px;height:24px;
}
.main-im .close-im a{
	display:block;width:24px;height:24px;background:url(../images/close_im.png) no-repeat left top;
}
.main-im .close-im a:hover{
	text-decoration:none;
}
.main-im .open-im{
	cursor:pointer;margin-left:68px;width:40px;height:133px;background:url(../images/open_im.png) no-repeat left top;
}

/* 左边注册送红包 */
.left_pic{
	position:fixed;
	left:10px;
	top:190px;
	z-index:100;
	width:110px;
	height:272px;
}
.sendCouponPic{
	z-index:99;
	position:absolute;
	width:109px;
	height:272px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border:1px solid #dddddd;
	background:url(../images/reg_coupon.jpg) no-repeat center 8px;
}
.pl30{
	padding-left:30px;
}