/*登录*/
.login{
	 background: url(../images/loginbanner.jpg) no-repeat center center;
	 height: 385px;
}
.loginBox{
	width: 320px;
	height: 310px;
	position: absolute;
	right: 40px;
	top:30px;
	background: #FFFFFF;
	border-radius: 10px;
	box-shadow:0px 0px 8px #a37d2e;
	-webkit-box-shadow:0px 0px 8px #a37d2e;
	padding: 10px 20px;
}
.ui_result_title{
	text-align: center;
	padding: 20px;
}
.success_box{
	padding:60px 0;
	text-align: center;
}
.ui_result_success{
	background: url(../images/success_icon.png) no-repeat left center;
	display: inline-block;
	padding-left: 50px;
	height: 38px;
	line-height: 38px;
	font-size: 24px;
	color:#2baf03;
	font-weight:bold;
}
.ui_result_failure{
	background: url(../images/failure.png) no-repeat left center;
	display: inline-block;
	padding-left: 50px;
	height: 38px;
	line-height: 38px;
	font-size: 24px;
	color:#666;
	font-weight:normal;
}
.ui_result_content{
	padding:30px 0;
	text-align: center;
	font-size:16px;
}
.inputBox {
	margin-top:10px;
	width:380px;
}
.inputlabel{
	width:60px;
	line-height: 35px;
}
.poplabel{
	width:100px;
	line-height: 35px;
}
.poplabel2{
	width:130px;
	line-height: 35px;
}
.refresh img{
	cursor: pointer;
	-webkit-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
.refresh img:hover{
	-moz-transform:rotate(-180deg);
	-webkit-transform:rotate(-180deg);
	transform:rotate(-180deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.yanzhengma{
	height: 37px;
	margin-left:5px;
	width: 72px;
}
.refresh{
	width: 26px;
	overflow: hidden;
}
.reg{
	color: #FF7800;
}
.loginwj{
	margin-left: 15px;
}
.loginwj span{
	border-left: 1px solid #b0b0b0;
	margin:0px 10px;
}
.popLeft2{
	width:180px;
	line-height: 35px;
}
.popLeft{
	width:210px;
	line-height: 35px;
}
.inputLeft{
	width:250px;
	line-height: 35px;
}
/*注册*/
.register{
	background: #FFFFFF;
	border: 1px solid #E6E6E6;
	width:860px;
	margin:20px auto;
	box-shadow:0px 0px 5px #bfbfbf;
	-webkit-box-shadow:0px 0px 5px #bfbfbf;
	padding:10px 10px 20px 10px;
}
.registerbox{
	background:url(../images/register_bg.png) center right no-repeat;
}
.registerinput{
	width: 860px;
	margin-top:10px;
}
.registerLabel{
	width:90px;
	text-align: right;
	margin-right: 20px;
	line-height: 35px;
}
.registerLabel1{
	width:120px;
	text-align: right;
	margin-right: 20px;
	line-height: 35px;
}
.registerLabel_new{
	width:220px;
	text-align: right;
	margin-right: 20px;
	line-height: 35px;
}
.findinput_new{
	width: 750px;
	margin-top:15px;
	margin-left:220px;
}
/*找回密码*/
.findpasswordTop{
	width: 520px;
	margin: 0 auto;
	margin-top:50px;
}
.findpasswordTop a{
	display: block;
	width:235px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #FFFFFF;
	border-radius:18px;
}
.findpasswordTop a.phonefind{
	background: #58bc1b;
}
.findpasswordTop a.emailfind{
	background: #0074c5;
}
.findinput{
	width: 700px;
	margin-top:15px;
	margin-left:270px;
}
.findinput .error{
	max-width:300px;
}
.findButton{
	width: 330px;
	margin:20px auto;
}
.findinput_new1{
	width: 700px;
	margin-top:15px;
	margin-left:220px;
}
/*投资列表页*/
.investChoose{
	background: #FFFFFF;
	border: 1px solid #E6E6E6;
	padding: 0px 10px;
	width:980px;
	margin: 0px auto;
}
.investChoose ul li span,.investChoose ul li a{
	float: left;
	display: inline;
}
.investChoose .bbnone{
	border-bottom: none;
}
.investChoose ul li{
	padding: 8px 0px;
	border-bottom: 1px dashed #e1e1e1;
}
.investChoose ul li a{
	display: block;
	padding: 0px 20px;
	margin:0px 10px;
}
.investChoose ul li a.current,.investChoose ul li a:hover{
	background: #0074c5;
	color: #FFFFFF;
	border-radius: 14px;
}
.down{
	color: #0074C5;
	background: url(../images/arrowdown.png) no-repeat center right;
	padding-right: 20px;
}
.up{
	color: #0074C5;
	background: url(../images/arrowup.png) no-repeat center right;
	padding-right: 20px;
}
.investList .indexInvestBox{
	border-top: none;
}
.investGive{
	position: absolute;
	right: 0px;
	bottom: 10px;
}
.investList{
	background: #FFFFFF;
	border: 1px solid #E6E6E6;
	width:1000px;
	margin: 20px auto;
}
.InvestListBoxL {
	width:780px;
	padding:10px;
}
.width240{
	width: 240px;
}
.bbdash{
  border-bottom: 1px dashed #e1e1e1;	
}
.investTop{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #E6E6E6;
	padding:0px 10px;
}
.investTop span{
	margin-right: 20px;
}
.rankline{
	border-left: 1px solid #E6E6E6;
	height: 14px;
}
.rankdown{
	background: url(../images/rankdown.png) no-repeat right center;
	padding-right: 10px;
}
.rankup{
	background: url(../images/rankup.png) no-repeat right center;
	padding-right: 10px;
}

/*投资详情页*/
.investdetail{
	border: 1px solid #E6E6E6;
	background: #FFFFFF;
	width: 960px;
	margin: 0 auto;
	padding: 20px;
	margin-bottom: 20px;
}
.investdetailLeft{
	width: 630px;
	border-right:1px solid #E6E6E6;
}
.investdetailLeft h3{
	font-size: 20px;
	color: #FF7800;
	height: 40px;
	align-content:40px;
	position: relative;
}
.investdetailLeft .numicon{
	position: absolute;
	right:20px;
	top: 0;
}
.investdetailLeft .numicon a{
	color:#ababab;
	background: url(../images/numicon.png) no-repeat left center;
	font-size: 14px;
	display: block;
	padding-left: 30px;
}
.investdetailbox{
	width: 630px;
}
.investdetailwrap{
	width: 150px;
	text-align: left;
	margin-right: 20px;
}
.investdetailbox .width240{
	width: 240px;
}
.detailRatebg{
	background:#dbdbdb;
	width:430px;
	margin:7px 10px;
	height: 15px;
	border-radius: 8px;
}
.detailRate{
	background: #6dbbf1;
	width: 70%;
	height: 15px;
	border-radius: 8px;
}
.investdetailRight{
   margin-left: 30px;	
}
.investdetailRight h3{
	font-size: 20px;
}
.investdetailTable{	
	width:960px;
	margin: 10px auto;
}
.btblue{
	border-top:2px solid #6dbbf1;
}
.btgray{
	border-top:2px solid #e1e1e1;
}
.investdetailTable td,.investdetailTable tr{
	background: #f2f2f2;
	height: 35px;
	line-height: 35px;
}
.investdetailTable td{
	width: 50%;
	border-left:1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
.investdetailTable span{
	margin-left:70px;
}
.investdetailTable .investdetailSpan{
	width: 680px;
	display: inline;
	float: left;
	line-height: 28px;
}
.investfoot{
	background: #FFFFFF;
	border: 1px solid #E6E6E6;
	margin-bottom: 20px;
}
.investdetailTop{
	background: #e5ecf1;
	height: 45px;
	line-height: 45px;
	overflow: hidden;
}
.investdetailTop ul li{
	float: left;
	display: inline;
	width:145px;
	text-align: center;
}
.investdetailTop ul li a{
	display: block;
	border-top:3px solid #e5ecf1;
}
.investdetailTop ul li a.current,.investdetailTop ul li a:hover{
	border-top:3px solid #6dbbf1; 
	background: #FFFFFF;
}
.investfootBox{
	padding: 20px;
}
/*投资确认*/
.investinput{
	  width: 700px;
      margin-left: 270px;
}
/*借款页面*/
.loanbox{
	border: 1px solid #E6E6E6;
	background: #FFFFFF;
	padding: 20px;
	margin: 10px auto;
	width: 960px;
	height:505px;
}
.loanLeft{
	width:360px;
}
.loanRight{
	width: 570px;
	margin-left:30px;
}
.loaninput{
	width: 360px;
	margin-top:10px;
}
.loaninput .error{
	max-width: 225px;
}
.loanTips p{
   width:570px;
   background: url(../images/icon4.png) center left no-repeat;
   padding-left: 10px;
}
.loanRight ul li{
	width:120px;
	height: 145px;
	border: 1px solid #ececec;
	float: left;
	display: inline;
	margin:10px 15px 0px 0px;
}
.loanRight ul li img{
	width:120px;
	height: 145px;
}
/*关于我们*/
.about{
	margin-bottom: 20px;
}
.aboutLeft{
	width: 160px;
	background: #f5f5f5;
	border: 1px solid #e6e6e6;
	height: 570px;
}
.aboutRight{
	width:780px;
	background: #FFFFFF;
	border: 1px solid #e6e6e6;
	padding: 20px;
	min-height: 530px;
}
.aboutLeft ul li{
	height: 45px;
	line-height: 45px;
	text-align: center;
}
.aboutLeft ul li a{
	display: block;
	height: 45px;
	line-height: 45px;
	
}
.aboutLeft ul li a:hover,.aboutLeft ul li a.current{
	background: #6ebbf1;
	color: #FFFFFF;
}

/*平台公告*/
.aboutNotice{
	width: 760px;
	margin: 0 auto;
	margin-top:30px;
}
.aboutNotice ul li{
	border-bottom: 1px dashed #E6E6E6;
}
.aboutNotice ul li a{
	display: block;
	height: 35px;
	line-height: 35px;
}
.noticetext{
	width:620px;
	margin-right: 30px;
	overflow: hidden;
	 text-overflow: ellipsis;
	 white-space: nowrap;
}
.noticetime{
	width:90px;
}

/*手机验证*/
.pl50{
	padding-left: 50px;
}

/*招聘信息*/
.hrBox{
	width:760px;
	margin: 10px auto;
}
.hrBox ul li{
	height: 35px;
	line-height: 35px;
	cursor: pointer;
}
.hrBox .hrdown{
	background: url(../images/hr_icon.png) no-repeat center right;
}
.hrBox .hrup{
	background: url(../images/hr_icon1.png) no-repeat center right;
	border-bottom: 1px dashed #E6E6E6;
}
.hrtext{
	background: #f5f5f5;
	padding:15px;
	font-size: 12px;
	color: #666666;
	display:none;
}
.hrtext h3{
	color: #000000;
	line-height: 40px;
	font-weight: bold;
}
.hrtext h4{
	color: #000000;
	line-height: 40px;
	font-weight: bold;
}
/*新闻详情页*/
.noticeDetail{
	width:765px;
	margin: 0px auto;
}
.noticeDetailTop{
		text-align: center;
	border-bottom: 1px solid #E6E6E6;
	margin-bottom: 20px;
}
.noticeDetail p{
	text-indent: 2em;
}
.textcenter{
	text-align: center;
}

/*众筹-我是融资方*/
.fundingbox{
	border: 1px solid #E6E6E6;
	background: #FFFFFF;
	margin: 10px auto;
	width: 960px;
	height:514px;
}
.fundingRight{
	width: 543px;
	border-left:1px solid #E6E6E6;
}

/*众筹-我是投资方*/
.buyfunding{
	border: 1px solid #E6E6E6;
	background: #FFFFFF;
	width: 1000px;
	padding: 10px;;
	margin: 10px auto;
}
.buyfundingTop ul li{
	float: left;
	display: inline;
	margin-right: 10px;
	margin-top: 10px;
}
.buyfunding ul li{
	background: #f4f4f4;
	width: 300px;
	height: 280px;
	float: left;
	display:inline;
	margin: 10px;
	text-align: center;
	position: relative;
}
.fundingul img{
	width: 290px;
	height: 180px;
	margin-top:5px;
}
.fundingButton{
	margin: 10px auto;
	width: 100px;
}
.fundingButton a{
	background:url(../images/fundingbutton.png) no-repeat left top;
	width: 100px;
	height: 33px;
	display: block;
}
.fundingButton a:hover{
	background:url(../images/fundingbutton.png) no-repeat left -33px;
	width: 100px;
	height: 33px;
	display: block;
}
.fundingState{
	position: absolute;
	top:5px;
	left: 5px;
	height: 35px;
	line-height: 35px;
	color: #FFFFFF;
	padding: 0 15px;
}
.fundingblue{
	background: #2d9cea;
}
.fundingyellow{
	background: #f1a400;
}
/*众筹详情页*/
.fundingDetail h3{
	font-size:24px;
	line-height: 40px;
	font-weight: bold;
}
.fundingDetailleft{
	width: 650px;
}
.fundingDetailRight{
	width: 330px;
}
.fundingImg{
	width: 650px;
	height: 400px;
}
.fundingDetailBox{
	border: 1px solid #E6E6E6;
	background: #FFFFFF;
	margin-bottom: 20px;
}
.fundingDetailBox p{
	padding: 5px 15px;
}
.fundingDetailBox h4{
	height: 40px;
	line-height: 40px;
	font-weight: normal;
	padding: 0px 20px;
	border-bottom: 2px solid #6dbbf1;
	font-size: 16px;
}
.fundingDetailTxt{
	text-align: center;
	
}
.fundingDetailTxt img{
	max-width: 620px;
}
.fundingDetailTxt p{
	text-align: left;
	text-indent: 2em;
	font-size: 14px;
	line-height: 28px;
}
.fundingDetailBox h5{
	font-size: 16px;
	line-height: 35px;
	text-align: center;
	font-weight: bold;
	margin-top:5px;
}
.fundingDatailP{
	text-align: center;
}
.fundingDatailP span{
	color: #FF7800;
	font-weight: bold;
}
.fundingDetailing{
	text-align: center;
	color: #FFFFFF;
	background: url(../images/fundingdetailicon.png) no-repeat;
	width: 110px;
	height: 41px;
	line-height: 36px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.fundingDetailed{
	text-align: center;
	color: #FFFFFF;
	background: url(../images/fundingdetailicon.png) 0px -50px no-repeat;
	width: 110px;
	height: 41px;
	line-height: 36px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.fundingDetailBox h6{
	margin-left: 20px;
}
.fundingDetailBox h6 span{
	margin-left: 10px;
}
/*投资确认页*/
.investqrbox{
	border: 1px solid #E6E6E6;
	background: #FFFFFF;
	padding: 20px;
	margin: 10px auto;
	width: 960px;
}
.investqrbox .registerLabel {
	width: 120px;
}
.investqrbox input[type="checkbox"]{
	vertical-align: middle;
}
/*新手指引*/
.newguideBanner{
	background: url(../images/newguideBanner.jpg) no-repeat center top;
    height: 300px;
    overflow: hidden;
}
.newguideTop{
	background: #f3f3f3;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.newguideTop ul li{
	float: left;
	display: inline;
	width: 333px;
}
.newguideTop ul li a{
	display: block;
	width: 333px;
	height: 50px;
	background: url(../images/newguideIcon.png) no-repeat;
}
.newguideTop .newli1 a{
	background-position:95px 12px;
}
.newguideTop .newli1 a.current,.newguideTop .newli1 a:hover{
	background-position:95px -154px;
	color: #ff7800;
}
.newguideTop .newli2 a{
	background-position:95px -43px;
}
.newguideTop .newli2 a.current,.newguideTop .newli2 a:hover{
	background-position:95px -210px;
	color: #ff7800;
}
.newguideTop .newli3 a{
	background-position:95px -100px;
}
.newguideTop .newli3 a.current,.newguideTop .newli3 a:hover{
	background-position:95px -266px;
	color: #ff7800;
}
.newguideMain{
	background: #FFFFFF;
	padding: 15px;
}
.newguideH{
	background: url(../images/newguide_h.jpg) no-repeat;
	width: 308px;
	height: 42px;
	line-height: 42px;
	margin: 30px auto;
}
.newguideNum{
	width: 47px;
	text-align: center;
	color: #FFFFFF;
}
.newguideTxt {
	width: 261px;
	text-align: center;
}
.newguideUl ul li{
	float: left;
	display: inline;
	width: 175px;
	text-align: center;
	margin:15px 0px 0px 50px;
}
.newguideUl .newguideUlTxt{
	background: #ddedff;
	padding:5px 10px;
	color: #6d6d6d;
	text-align: left;
	height: 100px;
	margin-top: 10px;
	letter-spacing: 1px;
	line-height: 24px;
}
.newguideUl .letter{
	letter-spacing:1px;
}
.newguideBox1 h3{
	font-size: 24px;
	color: #5481b4;
	line-height: 40px;
	margin: 20px 0px;
}
.newguideImg1{
	background: url(../images/newguide_01.jpg) no-repeat;
	width: 894px;
	height: 70px;
	margin: 0 auto;
}
.newguideImg2{
	background: url(../images/newguide_02.jpg) no-repeat;
	width: 761px;
	height: 335px;
	margin: 0 auto;
}
.newguideBox2{
	width: 880px;
	margin: 15px auto;
}

.newguideBox2 h4{
	font-size: 24px;
	color: #5481b4;
	line-height: 50px;
	text-align: center;
}
.newguideBox2 p{
	text-indent: 2em;
	margin-bottom: 20px;
}
.newguideChange{
	width: 160px;
	margin: 0 auto;
}
.newguideChange li{
	float: left;
	display: inline;
	width: 13px;
	height: 13px;
	background:#FFFFFF ;
	border: 2px solid #5481b4;
	border-radius: 13px;
	margin-left: 20px;
	cursor: pointer;
}
.newguideChange li.current{
	background: #5481b4;
}
.newguideButton a{
	display: block;
	width: 250px;
	height: 45px;
	line-height: 45px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	background: #ff7800;
	border-radius:5px ;
	margin: 20px auto;
}
.newguideButton a:hover{
	color:#ffffff;
}
.newguideImg3{
	background: url(../images/newguide_03.jpg) no-repeat;
	width: 880px;
	height: 387px;
	margin:20px auto;
}
.newguideBoxP{
	width: 380px;
	text-align: center;
	margin-top: 100px;
	line-height: 40px;
}
.newguideImg4{
	background: url(../images/newguide_04.jpg) no-repeat;
	width: 575px;
	height: 380px;
}
.newguideBox4{
	border: 2px solid #e5e5e5;
	width: 820px;
	margin: 20px auto;
	padding: 20px 0px 20px 50px;
}
.newguideBox4 h3{
	color: #58a8ff;
	font-size: 20px;
	line-height: 40px;
	background: url(../images/newguide_icon.jpg) no-repeat left center;
	padding-left:30px;
}
.newguideBox4 p{
	padding-left: 30px;
	font-size: 18px;
}
.newguideBox5{
	background: url(../images/newguide_05.jpg) no-repeat left top;
	height: 405px;
	width: 940px;
	margin: 0 auto;
}
.newguideBoxTxt{
	padding: 200px 0px 0px 570px;
}
.registerinput .width600{
	width:600px;
}
/*分企业和个人注册*/
.registerChoose{
	width:650px;
	margin:20px auto;
}
.registerChoose a{
	display:block;
	border-radius: 5px;
    background: #cdcdcd;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    width:300px;
    height: 40px;
    line-height:40px;
}
.registerChoose a:hover{
	color: #FFFFFF;
}
.registerChoose a.current{
	 background:#ff7800;
}
/*分企业和个人登录*/
.loginBox h3{
	border-bottom:1px solid #d7d7d7;
}
.loginBox h3 a{
	margin-right:20px;
	display:block;
	margin-bottom:-2px;
	padding:0px 10px;
}
.loginBox h3 a.current{
	color:#0074C5;
	border-bottom:3px solid #0074C5;
}